/* Button Containers */
.buttons-container,
.buttons-container-alt {
    min-height: 80vh;
    width: 20%;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 18vh;
    right: 0;
    justify-content: space-evenly;
    align-items: center;
    padding: 12px 0px;
    z-index: 5;
}

.buttons-container .btn,
.buttons-container-alt .btn {
    width: 100%;
    cursor: pointer;
    height: 1.5rem;
    background-color: var(--button);
    color: var(--button-font);
    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.23);
    font-size: 0.8rem;
    border: none;
    margin: 2px;
}

.buttons-container .btn:hover,
.buttons-container-alt .btn:hover {
    background-color: var(--button-hover);
    color: var(--button-hover-font);
}

.buttons-outer-container.mobile {
    display: none;
}

/* Button Grouping */
.btn-group {
    width: 100%;
    display: flex;
}

.btn-set {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.btn-alt-set {
    margin: 1rem 0;
}

.btn-plus-minus {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    overflow-y: hidden;
    height: 1.5rem;
}

.btn-plus-minus p {
    color: var(--primary);
    width: 50%;
    font-size: 0.9rem;
}

.btn-plus-minus button {
    width: 2.6vw;
    margin: 2px 6px;
    height: 5.6vh;
    font-weight: 700;
    font-size: 0.9rem;
    overflow-y: hidden;
    color: var(--button-font);
    background-color: var(--button);
    border: none;
}

.btn-plus-minus button:hover {
    color: var(--button-hover-font);
    background-color: var(--button-hover);
    cursor: pointer;
}

/* Wicket button */

.wicket-type-container button {
    width: 90%;
    padding: 10px;
    font-size: 1rem;
    margin: 6px;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
}

.wicket-type-container button:hover {
    color: var(--button-hover-font);
    background-color: var(--button-hover);
    cursor: pointer;
    border: 1px solid var(--button-hover-font);
}

.runOut-btn-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.runOut-btn-list button {
    width: 5rem;
    margin: 6px 0;
    padding: 3px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
}


/* Editing Extras */
.edit-extras {
display: flex;
flex-direction: column;
width: 100%;
}

.edit-extras-wrapper {
    width: 100%;
}

.extras-edit-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.extras-edit-btns {
    display: flex;
    width: 15%;
}

.extras-edit-btns button:hover {
    cursor: pointer;
}

.extras-edit-column {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 6px;
    margin: 12px 0;
}

.extras-edit-column h4 {
    font-size: 1rem;
    color: #fff;
    width: 100%;
}

.edit-extras button {
    width: 4rem;
    padding: 4px;
    font-size: 1rem;
    font-weight: 800;
    margin: 2px;
    border: 2px solid #fff;
    color: #fff;
    background-color: transparent;
}


/*  Container Sizes and Positioning */
.wicket-type-container,
.select-catcher,
.select-runOut,
.runOut-runs {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10;
    justify-content: center;
    align-items: center;
}

.edit-batting,
.edit-bowling,
.edit-extras,
.bowling-edit-menu,
.batting-edit-menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 98vh;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10;
    justify-content: center;
    align-items: center;
}

/* Player List Select */
.player-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.player-list button {
    width: 10rem;
    background-color: transparent;
    border: 2px solid #fff;
    margin: 10px;
    color: #fff;
    font-size: 1.1rem;
    padding: 3px;
    cursor: pointer;
}

.player-list button:hover {
    color: #000;
    background-color: #fff;
}

/* Edit Player stats */
.current-player-stats {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.edit-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.edit-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0;
}

.edit-row h4 {
    color: #fff;
    margin: 0 1rem;
}

.edit-row button {
    width: 2rem;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    font-size: 1rem;
    font-weight: 800;
    cursor: pointer;
}

.edit-row input {
    padding: 4px;
    font-size: 1rem;
    font-weight: 800;
}

/* Close/Confirm button */
.closeConfirm {
    background-color: transparent;
    color: #fff;
    font-size: 1rem;
    border: 2px solid #fff;
    padding: 4px;
    margin: 4px;
    cursor: pointer;
}

@media screen and (max-width: 960px) {
    .buttons-container .btn, 
    .buttons-container-alt .btn {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 768px) {
    .buttons-outer-container {
        display: none;
    }

    .buttons-outer-container.mobile {
        display: flex;
    }

    /* Button Containers */
    .buttons-container,
    .buttons-container-alt {
        width: 100%;
        min-height: 80vh;
        align-items: center;
        justify-content: space-evenly;
        top: 19;
        border-top: 2px solid var(--primary);
    }
    .buttons-container .btn,
    .buttons-container-alt .btn{
        font-size: 0.7rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn-alt-set {
        margin: 0;
    }

    .btn-plus-minus p {
        font-size: 1rem;
    }
    .btn-plus-minus button {
        font-size: 1rem;
        width: 15%;
        height: 2rem;
    }

    /* Container Sizes and Positioning */
    .select-catcher,
    .select-runOut,
    .runOut-runs,
    .wicket-type-container {
        width: 100%;
        height: 80vh;
        z-index: 20;
    }

    .bowling-edit-menu,
    .batting-edit-menu,
    .edit-extras,
    .edit-bowling,
    .edit-batting {
        width: 100%;
        height: 80vh;
        z-index: 20;
        margin-top: 18vh;
    }

     /* Editing Extras */
     .extras-edit-column h4 {
        font-size: 1rem;
    }

    .extras-edit-title {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30%;
    }
    
    .extras-edit-btns {
        display: flex;
        width: 15%;
    }
    
    .extras-edit-column {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 6px;
        margin: 12px 0;
    }
    
    .extras-edit-column h4 {
        font-size: 1rem;
        color: #fff;
        width: 100%;
    }
    
    .edit-extras button {
        width: 4rem;
        padding: 4px;
        font-size: 1rem;
        margin: 2px;
        border: 2px solid #fff;
        color: #fff;
        background-color: transparent;
    }
}

/* Editing Batting and Bowling /*

/* Player List */
.player-list button {
    width: 10rem;
    background-color: transparent;
    border: 2px solid #fff;
    margin: 2px;
    color: #fff;
    font-size: 1rem;
    padding: 1px;
}