.header-container {
    height: 18vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 2vw;
    background-color: var(--secondary);
    box-shadow: inset 0px 0px 20px -10px rgba(0,0,0,0.23);
    border-bottom: 2px solid var(--primary);
    color: var(--primary);
    position: relative;
}

.logo {
    display: flex;
    width: 90px;
    height: 90px;
}

.theme-mobile {
    display: none;
}

.match-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin-top: 6px;
}

.team-details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}

.team-info {
    display: flex;
    gap: 0px;
    font-size: 2.6vw;
    justify-content: space-around;
    align-items: center;
    white-space: nowrap;
}

.batting-icon {
    margin: 0 5px;
}

.home-team-batting {
    display: block;
}

.away-team-batting {
    display: none;
}

.home-team-batting .hidden {
    display: none;
}

.away-team-batting .active {
    display: block;
}

.other-details {
    display: flex;
    gap: 10vw;
    margin-top: 6px;
    text-align: center;
    margin-bottom: 2px;
}

.venue,
.toss-winner,
.format {
    font-size: 1.8vw;
}

.header-buttons {
    position: absolute;
    right: 0vw;
    display: flex;
    flex-direction: column;
    width: 23%;
    padding-left: 5vw;
}

.header-buttons .header-btn {
    border: 2px solid var(--button);
    border-left: 10px solid var(--button);
    cursor: pointer;
    padding: 1.5px;
    width: 100%;
    margin: 3px 0px;
    text-decoration: none;
    font-weight: 600;
    font-size: 1vw;
    background-color: #fff;
    color: #000;
}

.header-buttons .header-btn:hover {
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}

@media screen and (max-width: 960px) {
    .team-info {
        font-size: 2.2vw;
    }
    .other-details {
        gap: 5vw;
    }
}
 
@media screen and (max-width: 768px) {
    .team-info {
        font-size: 2.2vw;
        width: 20vw;
    }
    .other-details {
        gap: 10vw;
    }
    .logo {
        height: 60px;
        width: 60px;
    }
    .venue,
    .toss-winner,
    .format {
        font-size: 2vw;
    }
    .header-buttons {
        top: 2vh;
    }
    .header-buttons .header-btn {
        font-size: 10px;
        margin-left: 2px;
    }
}

@media screen and (max-width: 500px) {
    .header-container {
        border-bottom: none;
    }
    .match-details{
        width: 100%;
    }

    .logo {
        display: none;
    }
    .team-info {
        font-size: 3.8vw;
        gap: 2px;
        width: 100%;
    }
    .team-info h4 {
        white-space: nowrap;
        text-align: center;
        width: 30vw;
    }
    .versus {
        margin: 0 6px;
        width: 15%;
        font-size: 3.8vw;
    }
    .batting-icon {
        margin: 0px;
    }
    .other-details {
        gap: 5vw;
    }
    .venue,
    .toss-winner,
    .format {
        font-size: 3.4vw;
    }
    .change-theme {
        display: none;
    }

    .header-buttons {
        display: none;
    }

    .theme-mobile {
        display: block;
        position: absolute;
        top: 0;
        right: 0.2vw;
    }
    .theme-mobile button {
        padding: 6px;
        background-color: var(--button);
        color: var(--button-font);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}