/* CSS for changing theme */
.theme-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.9);
}

.theme-container ul{
    display: flex;
    gap: 16px;
}

.theme-container li {
    margin: 12px;
}

.theme-container .theme-item {
    padding: 0.5rem;
    width: 100%;
    font-size: 2rem;
    cursor: pointer;
    background-color: var(--button);
    color: var(--button-font);
    border: 1px solid var(--button-font);
}

.theme-container .theme-item:hover {
    background-color: var(--button-hover);
    color: var(--button-hover-font);
    border: var(--button-hover-font);
}

.close-theme {
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 2rem;
}

.close-theme:hover {
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .theme-container .theme-item {
        padding: 6px;
        font-size: 1.2rem;
    }
    .close-theme {
        font-size: 2rem;
    }
}
