* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rajdhani', sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
}


:root {
  --primary: #fff;
  --secondary: #A61300;
  --button: #590A00;
  --button-hover: #000;
  --button-hover-font: #fff;
  --button-font: #fff;
  --scoreboard-color: #000;
  --scoreboard-font: #fff;
  --placeholder: #000;
}

:root.australia {
  --primary: #ffcd00;
  --secondary: #174617;
  --button: #ffcd00;
  --button-hover: #00843d;
  --button-hover-font: #ffcd00;
  --button-font: #000;
  --scoreboard-color: #000;
  --scoreboard-font: #fff;
  --placeholder: #000;
}

:root.bangladesh {
  --primary: #fff;
  --secondary: #00694e;
  --button: #870200;
  --button-hover: #00843d;
  --button-hover-font: #fff;
  --button-font: #fff;
  --scoreboard-color: #000;
  --scoreboard-font: #fff;
  --placeholder: #000;
}

:root.england {
  --primary: #fff;
  --secondary: #1b418f;
  --button: #6d9fbf;
  --button-hover: #fff;
  --button-hover-font: #1b418f;
  --button-font: #fff;
  --scoreboard-color: #000;
  --scoreboard-font: #fff;
  --placeholder: #000;
}

:root.india {
  --primary: #2255a4;
  --secondary: #b3e3ee;
  --button: #d6b268;
  --button-hover: #2255a4;
  --button-hover-font: #fff;
  --button-font: #000;
  --scoreboard-color: #000;
  --scoreboard-font: #fff;
  --placeholder: #000;
}

:root.ireland {
  --primary: #0c1f4c;
  --secondary: #77a41e;
  --button: #cdde7d;
  --button-hover: #0c1f4c;
  --button-hover-font: #fff;
  --button-font: #000;
  --scoreboard-color: #000;
  --scoreboard-font: #fff;
  --placeholder: #000;
}

:root.new-zealand {
  --primary: #fff;
  --secondary: #000;
  --button: #828282;
  --button-hover: #000;
  --button-hover-font: #fff;
  --button-font: #000;
  --scoreboard-color: radial-gradient(ellipse at center, #FFFFFF, #DFDFDF);
  --scoreboard-font: #000;
  --placeholder: #000;
}

:root.pakistan {
  --primary: #fff;
  --secondary: #006629;
  --button: #B59A0A;
  --button-hover: #fff;
  --button-hover-font: #006629;
  --button-font: #000;
  --scoreboard-color: #000;
  --scoreboard-font: #fff;
  --placeholder: #000;
}

:root.south-africa {
  --primary: #10572e;
  --secondary: #f2b10e;
  --button: #006629;
  --button-hover: #fff;
  --button-hover-font: #10572e;
  --button-font: #fff;
  --scoreboard-color: #000;
  --scoreboard-font: #fff;
  --placeholder: #000;
}

:root.sri-lanka {
  --primary: #f0b001;
  --secondary: #1a5193;
  --button: #f0b001;
  --button-hover: #fff;
  --button-hover-font: #10572e;
  --button-font: #000;
  --scoreboard-color: #000;
  --scoreboard-font: #fff;
  --placeholder: #000;
}

:root.west-indies {
  --primary: #f2b10e;
  --secondary: #7b0041;
  --button: #f2b10e;
  --button-hover: #161695;
  --button-hover-font: #f2b10e;
  --button-font: #161695;
  --scoreboard-color: #000;
  --scoreboard-font: #fff;
  --placeholder: #000;
}

:root.zimbabwe {
  --primary: #d3ad16;
  --secondary: #9d011f;
  --button: #d3ad16;
  --button-hover: #287a29;
  --button-hover-font: #f2b10e;
  --button-font: #000;
  --scoreboard-color: #000;
  --scoreboard-font: #fff;
  --placeholder: #000;
}
